body {
	font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1 {
	font-weight:300;
	font-size:72px;
}

p.lead {
	margin-top:25px;
	font-size:24.5px;
}